
.productPage {
   min-height: 1000px;
   padding: 90px 170px 0;

   .productList {
      display: flex;
      flex-wrap: wrap;

   }
   > button {
      margin: 98px auto 168px;

   }

   &.isMobile {
      padding: 30px var(--mobile-padding);

      > button {
         margin: 30px auto 20px;
      }
   }

   &.isSmallDesktop {
      padding: 50px  var(--small-desktop-padding);
   }

}