
  .header {
   margin: 0 auto;
   width: fit-content;
   height: fit-content;
   text-align: center;

   .heading {
     font-weight: bold;
     margin-bottom: 30px;
   }

   .content {
     width: 670px;

     &.smallContent {
       font-size: 1.6rem;
     }
   }

   &.isMobile {
     margin-top: 30px;
     .heading {
     margin-bottom: 5px;

     }

     .content {
       width: 85% ;
       margin: 0 auto;
     }
   }

   &.isSmallDesktop {
     margin-top: 50px ;
   }
 }